@media screen and (max-width: 500px) {
  /* overwriting bootstrap default margins and paddings*/
  .container {
    padding: 1px;
    margin: 1px;
  }
  /* header*/
  header {
    display: inline-block;
    font-size: .7em;
    line-height: 1.2em;
    margin: 2px;
  }
  /* setting size of svg*/
  .svg {
    width: 60px;
    height: 50px;
  }
  /* main content*/
  h1 {
    font-size: 2em;
    margin: 1px;
  }
  .credential {
    font-size: 1.5em;
    text-align: right;
    margin: 1px;
  }
  h4, p, ul {
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: 'Berkshire Swash', cursive;
    color: yellow;
    text-align: left;
    margin: 1px;
    padding: 1px;
  }
  .img-responsive {
    padding: 2px;
    margin: 1px;
  }
  li {
    display: flex;
    margin: 2px 5px 5px 5px;
    position:relative;
    font-size: 3rem;
    line-height: 1.5em;
    font-weight:bold;
  }
}
@media screen and (min-width: 501px) and (max-width: 750px)  {
  .container {
    padding: 10px;
    margin: 5px;
  }
  header {
    display: block;
    font-size: 1em;
    line-height: 1.2em;
  }
  .svg {
    width: 160px;
    height: 150px;
    margin: 2px 2px 2px 2px;
    text-align: left;
  }
  h1 {
    font-size: 2em;
    text-align: right;
  }
  .credential {
    font-size: 1.5em;
    text-align: right;
  }
  .img-responsive {
    width: 100%;
    margin: 10px;
  }
  .social_media{
    margin: 15px 10px 10px 10px;
  }
  li {
    display: flex;
    margin: 5px;
    position:relative;
    font-size: 3rem;
    line-height: 1.5em;
    font-weight:bold;
    padding: 20px;
  }
}
